* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    width: 100px;
}

.searchbar i {
    padding: 0 7.5px;
}

.search input {
    width: 500px;
    border-color: black;
}

#description {
    padding-left: 30px;
    margin-top: -20px;
}

#row2 {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
    width: fit-content;
    justify-content: center;
    padding: 10px;
}

#card {
    align-content: center;
}

#card {
    position: absolute;
    top: 108px;
}

@media screen and (min-width: 700px) {
    #card {
        position: absolute;
    }
}

@media screen and (min-width: 1600px) {
    #card {
        position: absolute;
        top: 108px;
        left: 100px;
    }
}